p
 a(href='/about')
  img(src='images/gwenbell_beach.jpg', style='border: 1px solid #ccc; padding: 4px; width: 100%')

p
 a(href='http://git.gwenbell.com/')
  img(src='images/git-commit-cover.jpg', style='border: 1px solid #ccc; padding: 4px; width: 100%')

p
 a(href='/presence')
  img(src='/images/terminal-cover.jpg', style='border: 1px solid #ccc; padding: 4px; width: 100%')